.main_section{
    background-color: rgba(10, 10, 11, 0.187);
    width: 100vw;
    height: 100vh;
}

.Calculator{
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;


}
.input{
    overflow-x: auto;
    margin-top: 5rem;
    width: 18rem;
    padding: 1rem;
    min-height:4rem ;
    background-color: rgba(113, 68, 68, 0.629);
    border: 2px solid black;
    color: #fff;
    font-size: 1.4rem;
}
.buttons{
   
    display: grid;
    grid-template-columns: 5rem 5rem 5rem 5rem;
    grid-template-rows: 5rem 5rem 5rem 5rem;
}
.input_button{
    font-size: 2rem;
    font-weight: 400;
cursor: pointer;
}